# data.csv
company_id,company_name,income_type,income_amt
1,"Foobar Inc","royalties",5000000
2,"ACME Corp","sales",3000000
2,"ACME Corp","rent",1000000

In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

   company_id company_name income_type  income_amt
0           1   Foobar Inc   royalties     5000000
1           2    ACME Corp       sales     3000000
2           2    ACME Corp        rent     1000000

In [3]:
records = []
for key, grp in df.groupby('company_id'):
    records.append({
        "company_id": key,
        "company_name": grp.company_name.iloc[0],
        "income": {
            row.income_type: row.income_amt for row in grp.itertuples()
        }})

In [4]:
records

[{'company_id': 1,
  'company_name': 'Foobar Inc',
  'income': {'royalties': 5000000}},
 {'company_id': 2,
  'company_name': 'ACME Corp',
  'income': {'sales': 3000000, 'rent': 1000000}}]

In [34]:
import pandas as pd
df1 = pd.read_csv('A1_csv_fall24.csv')
df1

,category,yes,no,points
0,Implementation,Your README file is present and code for imple...,You did not provide README file and your code ...,5.0
1,NaN,You provided a READ ONLY link to Overleaf usin...,You did not provide READ ONLY link to your Ove...,5.0
2,Problem Description,You provided information about two dataset.,You did not provided detailed information abou...,2.0
3,NaN,You described how each dataset is interesting ...,You needed to describe each dataset in detail ...,2.0
4,NaN,You described the underlying structure of each...,You did not describe the underlying structure ...,2.0
5,NaN,You explained why your datasets may produce di...,You did not explain why your datasets may prod...,6.0
6,Problem Analysis (NN),You provided some discussion on learing comple...,You needed to provide some discussion on leari...,8.0
7,NaN,You aded model complexity,You needed to provide some discussion on model...,8.0
8,NaN,You also provided some plots,Your report lacks on plots from your analysis,8.0
9,Problem Analysis (SVM),You provided some discussion on learing comple...,You needed to provide some discussion on leari...,8.0
10,NaN,You aded model complexity,You needed to provide some discussion on model...,8.0
11,NaN,You also provided some plots,Your report lacks on plots from your analysis,8.0
12,Problem Analysis (KNN),You provided some discussion on learing comple...,You needed to provide some discussion on leari...,8.0
13,NaN,You aded model complexity,You needed to provide some discussion on model...,8.0
14,NaN,You also provided some plots,Your report lacks on plots from your analysis,8.0
15,Conclusion,You provided some conclusions based on your ob...,You did not provide detailed conclusions based...,6.0
16,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,100.0

In [52]:
for name, series in df1.items():
    print(name, series)

category 0             Implementation
1                        NaN
2        Problem Description
3                        NaN
4                        NaN
5                        NaN
6      Problem Analysis (NN)
7                        NaN
8                        NaN
9     Problem Analysis (SVM)
10                       NaN
11                       NaN
12    Problem Analysis (KNN)
13                       NaN
14                       NaN
15                Conclusion
16                       NaN
17                       NaN
18                       NaN
19                       NaN
Name: category, dtype: object
yes 0     Your README file is present and code for imple...
1     You provided a READ ONLY link to Overleaf usin...
2           You provided information about two dataset.
3     You described how each dataset is interesting ...
4     You described the underlying structure of each...
5     You explained why your datasets may produce di...
6     You provided some discussion on learing comple...
7                             You aded model complexity
8                          You also provided some plots
9     You provided some discussion on learing comple...
10                            You aded model complexity
11                         You also provided some plots
12    You provided some discussion on learing comple...
13                            You aded model complexity
14                         You also provided some plots
15    You provided some conclusions based on your ob...
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
Name: yes, dtype: object
no 0     You did not provide README file and your code ...
1     You did not provide READ ONLY link to your Ove...
2     You did not provided detailed information abou...
3     You needed to describe each dataset in detail ...
4     You did not describe the underlying structure ...
5     You did not explain why your datasets may prod...
6     You needed to provide some discussion on leari...
7     You needed to provide some discussion on model...
8         Your report lacks on plots from your analysis
9     You needed to provide some discussion on leari...
10    You needed to provide some discussion on model...
11        Your report lacks on plots from your analysis
12    You needed to provide some discussion on leari...
13    You needed to provide some discussion on model...
14        Your report lacks on plots from your analysis
15    You did not provide detailed conclusions based...
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
Name: no, dtype: object
points 0       5.0
1       5.0
2       2.0
3       2.0
4       2.0
5       6.0
6       8.0
7       8.0
8       8.0
9       8.0
10      8.0
11      8.0
12      8.0
13      8.0
14      8.0
15      6.0
16      NaN
17      NaN
18      NaN
19    100.0
Name: points, dtype: float64

In [56]:
for name, series in df1.items():
    print(name, name[0])

category c
yes y
no n
points p

In [61]:
for column in df1.columns[1:]:
    print(df1[column])

0     Your README file is present and code for imple...
1     You provided a READ ONLY link to Overleaf usin...
2           You provided information about two dataset.
3     You described how each dataset is interesting ...
4     You described the underlying structure of each...
5     You explained why your datasets may produce di...
6     You provided some discussion on learing comple...
7                             You aded model complexity
8                          You also provided some plots
9     You provided some discussion on learing comple...
10                            You aded model complexity
11                         You also provided some plots
12    You provided some discussion on learing comple...
13                            You aded model complexity
14                         You also provided some plots
15    You provided some conclusions based on your ob...
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
Name: yes, dtype: object
0     You did not provide README file and your code ...
1     You did not provide READ ONLY link to your Ove...
2     You did not provided detailed information abou...
3     You needed to describe each dataset in detail ...
4     You did not describe the underlying structure ...
5     You did not explain why your datasets may prod...
6     You needed to provide some discussion on leari...
7     You needed to provide some discussion on model...
8         Your report lacks on plots from your analysis
9     You needed to provide some discussion on leari...
10    You needed to provide some discussion on model...
11        Your report lacks on plots from your analysis
12    You needed to provide some discussion on leari...
13    You needed to provide some discussion on model...
14        Your report lacks on plots from your analysis
15    You did not provide detailed conclusions based...
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
Name: no, dtype: object
0       5.0
1       5.0
2       2.0
3       2.0
4       2.0
5       6.0
6       8.0
7       8.0
8       8.0
9       8.0
10      8.0
11      8.0
12      8.0
13      8.0
14      8.0
15      6.0
16      NaN
17      NaN
18      NaN
19    100.0
Name: points, dtype: float64

In [85]:
df1['category'].dropna()

0             Implementation
2        Problem Description
6      Problem Analysis (NN)
9     Problem Analysis (SVM)
12    Problem Analysis (KNN)
15                Conclusion
Name: category, dtype: object

In [89]:
df0 = pd.DataFrame()
df0['category'] = df1['category'].dropna()
df0['category']

0             Implementation
2        Problem Description
6      Problem Analysis (NN)
9     Problem Analysis (SVM)
12    Problem Analysis (KNN)
15                Conclusion
Name: category, dtype: object

In [91]:
df0.reset_index(drop=True, inplace=True)

In [100]:
auxiliaryList = []
for d in df0['category']:
    print(d)
    if d not in auxiliaryList:
        auxiliaryList.append(d)
auxiliaryList

Implementation
Problem Description
Problem Analysis (NN)
Problem Analysis (SVM)
Problem Analysis (KNN)
Conclusion

['Implementation',
 'Problem Description',
 'Problem Analysis (NN)',
 'Problem Analysis (SVM)',
 'Problem Analysis (KNN)',
 'Conclusion']

In [101]:
for i, val in enumerate(auxiliaryList):
    print(i, ": ", val)

0 :  Implementation
1 :  Problem Description
2 :  Problem Analysis (NN)
3 :  Problem Analysis (SVM)
4 :  Problem Analysis (KNN)
5 :  Conclusion

In [110]:
j = []
for i, val in enumerate(auxiliaryList):
    j.append({
        "Part "+str(i) :{
            "title": val,
            "problems":[
             [   { 
            "yes": "someyes",
            "no": "someno",
            "point": "somepoints"
            }]
             ]
        }
    })
j

[{'Part 0': {'title': 'Implementation',
   'problems': [[{'yes': 'someyes', 'no': 'someno', 'point': 'somepoints'}]]}},
 {'Part 1': {'title': 'Problem Description',
   'problems': [[{'yes': 'someyes', 'no': 'someno', 'point': 'somepoints'}]]}},
 {'Part 2': {'title': 'Problem Analysis (NN)',
   'problems': [[{'yes': 'someyes', 'no': 'someno', 'point': 'somepoints'}]]}},
 {'Part 3': {'title': 'Problem Analysis (SVM)',
   'problems': [[{'yes': 'someyes', 'no': 'someno', 'point': 'somepoints'}]]}},
 {'Part 4': {'title': 'Problem Analysis (KNN)',
   'problems': [[{'yes': 'someyes', 'no': 'someno', 'point': 'somepoints'}]]}},
 {'Part 5': {'title': 'Conclusion',
   'problems': [[{'yes': 'someyes', 'no': 'someno', 'point': 'somepoints'}]]}}]

In [108]:
import json

with open('test.txt', 'w') as filehandle:
    json.dump(j, filehandle)

In [83]:
import numpy as np
value = float('nan') 
auxiliaryList = []
for i, column in enumerate(df1):
#     print(i, df1[column], df1[column][0])
    print(df1['category'])
    if df1['category'] not in auxiliaryList and df1['category'] == df1['category'].notna() :
        auxiliaryList.append(df1['category'])

0             Implementation
1                        NaN
2        Problem Description
3                        NaN
4                        NaN
5                        NaN
6      Problem Analysis (NN)
7                        NaN
8                        NaN
9     Problem Analysis (SVM)
10                       NaN
11                       NaN
12    Problem Analysis (KNN)
13                       NaN
14                       NaN
15                Conclusion
16                       NaN
17                       NaN
18                       NaN
19                       NaN
Name: category, dtype: object

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [73]:
auxiliaryList

[0             Implementation
 1                        NaN
 2        Problem Description
 3                        NaN
 4                        NaN
 5                        NaN
 6      Problem Analysis (NN)
 7                        NaN
 8                        NaN
 9     Problem Analysis (SVM)
 10                       NaN
 11                       NaN
 12    Problem Analysis (KNN)
 13                       NaN
 14                       NaN
 15                Conclusion
 16                       NaN
 17                       NaN
 18                       NaN
 19                       NaN
 Name: category, dtype: object]

In [53]:
for name, values in df1.iteritems():
    print('{name}: {value}'.format(name=name, value=values[0]))

category: Implementation
yes: Your README file is present and code for implementation is accessible.
no: You did not provide README file and your code is not accessisible
points: 5.0

In [27]:
i = 0
for k, g in df1.groupby('category'):
    print("group"+str(i), k, g.yes, g.no, g.points)
    i += 1

group0 Conclusion 15    You provided some conclusions based on your ob...
Name: yes, dtype: object 15    You did not provide detailed conclusions based...
Name: no, dtype: object 15    6.0
Name: points, dtype: float64
group1 Implementation 0    Your README file is present and code for imple...
Name: yes, dtype: object 0    You did not provide README file and your code ...
Name: no, dtype: object 0    5.0
Name: points, dtype: float64
group2 Problem Analysis (KNN) 12    You provided some discussion on learing comple...
Name: yes, dtype: object 12    You needed to provide some discussion on leari...
Name: no, dtype: object 12    8.0
Name: points, dtype: float64
group3 Problem Analysis (NN) 6    You provided some discussion on learing comple...
Name: yes, dtype: object 6    You needed to provide some discussion on leari...
Name: no, dtype: object 6    8.0
Name: points, dtype: float64
group4 Problem Analysis (SVM) 9    You provided some discussion on learing comple...
Name: yes, dtype: object 9    You needed to provide some discussion on leari...
Name: no, dtype: object 9    8.0
Name: points, dtype: float64
group5 Problem Description 2    You provided information about two dataset.
Name: yes, dtype: object 2    You did not provided detailed information abou...
Name: no, dtype: object 2    2.0
Name: points, dtype: float64

In [33]:
records1 = []
i = 0
for key1, grp1 in df1.groupby('category'):
    records1.append({
        "title":
        "problems": {
        "yes": grp1.yes.iloc[0],
        "no": grp1.no.iloc[0],
        "point": grp1.points.iloc[0]
        }
    })
    i += 1
records1

[{'problems': {'yes': 'You provided some conclusions based on your observations (considered datasets; accuracy; time and space comlexities; features). Also applied broad ideas from leatures (cross-validation; mean absolute error; mean squared errors; overfitting and  underfitting; bias and variance trade-off)',
   'no': 'You did not provide detailed conclusions based on your observations. In your conclusions you could have considered accuracy; time and space comlexities; features. Also tie them back with broad ideas from leatures (cross-validation; mean absolute error; mean squared errors; overfitting and  underfitting; bias and variance trade-off).',
   'point': 6.0}},
 {'problems': {'yes': 'Your README file is present and code for implementation is accessible.',
   'no': 'You did not provide README file and your code is not accessisible',
   'point': 5.0}},
 {'problems': {'yes': 'You provided some discussion on learing complexity (LC) ',
   'no': 'You needed to provide some discussion on learing complexity (LC) ',
   'point': 8.0}},
 {'problems': {'yes': 'You provided some discussion on learing complexity (LC) ',
   'no': 'You needed to provide some discussion on learing complexity (LC) ',
   'point': 8.0}},
 {'problems': {'yes': 'You provided some discussion on learing complexity (LC) ',
   'no': 'You needed to provide some discussion on learing complexity (LC) ',
   'point': 8.0}},
 {'problems': {'yes': 'You provided information about two dataset.',
   'no': 'You did not provided detailed information about two datasets. It was required that two datasets were chosen for this assignment. ',
   'point': 2.0}}]

In [24]:
import json

with open('output.txt', 'w') as filehandle:
    json.dump(records1, filehandle)

In [25]:
# https://jsonformatter.org/